* {
  /* border: solid 1px black; */
  position: relative;
  font-family: 'cwTeXYen', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F8E3E3;
}

#app {
  /* max-width: 00px; */
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  height: 160px;
  background-color: #FFAAA7;
}

.title {
  position: absolute;
  font-size: 80px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.option {
  width: 100px;
  height: 80px;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.opt {
  position: absolute;
  width: 100%;
  height: 21px;
  border-radius: 40px;
  background-color: #FFD3B4;
}

.opt1 {
  transform: translateY(150%);
}

.opt3 {
  transform: translateY(300%);
}

/* .content{
  background-color: #F8E3E3;
  width: 100%;
  height: 1000px;
  position: absolute;
}  */

.list {
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  margin: 40px;
}

.listPic {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  border-radius: 20px;
  object-fit: cover;
  /* background-color: rgb(164, 121, 121); */
  /* object-fit: cover; */
}

.listName {
  width: 300px;
  height: 80px;
  position: absolute;
  left: 320px;
  top: 40px;
  /* background-color: rgb(109, 196, 80); */
  font-size: 50px;
  text-align: center;
  color: rgb(145, 145, 145);
}

.listContent{
  width: 450px;
  height: 120px;
  position: absolute;
  left: 345px;
  top: 140px;
  /* background-color: rgb(72, 89, 182); */
  font-size: 35px;
  color: rgb(145, 145, 145);
}

.contentDetail{
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 40px; */
  position: absolute;
  top: 200px;
  border-radius: 20px;
}

.detail{
  position: absolute;
  height: 1700px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}